:root {
  --theme-color: rgb(225, 58, 68);
  --overlay-color: rgb(215, 176, 178);
  /* old theme color rgb(0, 183, 241)*/
}

@font-face {
  font-family: Libre;
  src: url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
}

* {
  font-family: "Libre Baskerville", serif;
}

.content {
  grid-area: content;
  margin: 1rem;
}

.logo img {
  max-width: 80%;
}

a {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: lightgray;
}

.font_1 {
  /* font: normal normal normal 32px/1.4em "libre baskerville", serif;
  color: #444444; */
  font: normal normal normal 32px/1.4em "libre baskerville", serif;
  color: #191616cf;
  font-weight: 700;
}

.font_2 {
  font: normal normal normal 24px/1.4em "libre baskerville", serif;
  color: #191616cf;
}

.banner-info {
  grid-area: nav;
}

.side {
  grid-area: sidebar;
}

.side ul {
  padding: 1rem 3rem 0 3rem;
}

.side li {
  list-style: square inside;
  color: var(--theme-color);
  border-bottom: 1px solid #d7d7d7;
  margin: 1rem;
  font-size: 1.2rem;
}

.side a {
  text-decoration: none;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 0rem;
  width: 80%;
}

.services h2 {
  font-size: 1.2rem;
  padding: 2rem;
}

.services p {
  line-height: 1.5rem;
}

.accreds {
  grid-area: accreds;
}

.main-footer {
  grid-area: footer;
  display: grid;
  grid-gap: 3rem;
  padding: 3rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: #212121;
  color: #fff;
}

.copyright {
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
}

.accreds img {
  /* max-width: 10rem; */
  max-height: 5rem;
  max-width: 50%;
  display: block;
  margin: 1rem auto;
  border: 1px solid #d7d7d7;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  align-self: end;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar content content content"
    "accreds content content content";
  background-color: #f2f3f4;
}

.head-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

p .phone-number {
  display: inline;
}

.banner-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.banner-info li {
  display: inline;
}
.top-social-media a {
  display: inline-block;
  padding: 0.5em 1.5em;
}

.phone-number a {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

.main-head {
  background-color: #f2f3f4;
}

.main-nav {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  /* position: -webkit-sticky; /* Safari */
  position: sticky;
  /* top: 0; */
}
.main-nav ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.main-nav li {
  display: inline;
  margin: 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--theme-color);
  width: 0%;
  bottom: 10px;
}

.nav-link:hover:before {
  width: 3%;
}

.nav-link:hover {
  color: gray;
}

.home {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 1rem 2rem 0 0;
}

/************** HERO **************/

.hero-video-wrap {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.hero-img-wrap {
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
}

.hero-background-img {
  max-width: 110% !important;
}

.hero-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.hero-overlay {
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: var(--overlay-color);
  opacity: 0.5;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  max-height: 100%;
  height: 65vh;
  color: #fff;
}

.hero-content-small {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 35vh;
  color: #fff;
}

.hero-text-small {
  padding: 0 4rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  grid-column-gap: 3rem;
  grid-template-rows: repeat(1, 100%);
}

.about-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-grid img {
  align-self: end;
  max-height: 75%;
  margin: 0 auto;
}

.hero-grid h3 {
  margin: 2rem 0;
}

.hero-text {
  align-self: center;
  margin: 1rem;
}

.hero-text .btn {
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: var(--theme-color);
  font-size: 1.2rem;
  font-weight: 600;
  border: 0.2rem #fff solid;
  color: #fff;
}

.hero-text .btn:hover {
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: var(--theme-color);
  font-size: 1.2rem;
  border: 0.2rem #036382bd solid;
  font-weight: 500;
}

.hero-text-small h3 {
  margin: 1rem 0;
}

.hero-text-small .btn {
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: var(--theme-color);
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  width: fit-content;
  border: 0.2rem #fff solid;
  color: #fff;
}

.hero-text-small .btn:hover {
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: var(--theme-color);
  font-size: 1.2rem;
  border: 0.2rem #036382bd solid;
  font-weight: 500;
  display: block;
  width: fit-content;
}

/************** ABOUT ME **************/

.about-me-pic {
  border-radius: 7rem;
  border-color: var(--theme-color);
  margin: 1rem 0;
}

.about-details {
  line-height: 1.5rem;
  font-size: 1.1rem;
  width: 85%;
}

.content-header {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.youtube-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(1, minmax(20rem, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
}

.youtube-video {
  margin: 1rem auto;
  /* width: 100%; */
  /* height: 100%; */
}

/************** CONTACT **************/

.contact-area {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-area form {
  border: 0.5px solid #d7d7d7;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 50%;
  min-width: fit-content;
  max-height: 18rem;
  margin: 2rem 3rem;
}

.contact-area textarea {
  margin: 1rem 0;
}

.contact-area h3 {
  margin: 0.8rem;
  font-weight: 300;
}

.contact-area form button[type="submit"] {
  /* padding: 1rem 1.5rem; */
  padding: 20px 70px;
  background-color: var(--theme-color);
}

footer h2 {
  margin: 0 0 1rem 0;
}

footer li {
  margin: 0.5rem 0;
}

.maprouter {
  position: relative;
  text-align: right;
  margin: 0 auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.publications-grid {
  display: flex;
  flex-direction: column;
}

.react-icons {
  vertical-align: middle;
}

/************** MEDIA QUERIES **************/
@media (max-width: 840px) {
  .mapouter {
    margin: 0 3rem;
  }

  .gmap_canvas {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .main-footer {
    justify-items: start;
  }

  .nav-link:hover:before {
    width: 8%;
  }

  .side {
    display: none;
  }
  .wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas:
      "content"
      "accreds";
  }

  .hero-text-small h3 {
    display: none;
  }

  .accreds :first-child {
    max-height: 7rem;
  }
}

@media (max-width: 700px) {
  .logo img {
    max-width: 100%;
  }

  .banner-info {
    margin: 0 0 0 2rem;
  }

  .animated-pic {
    display: none;
  }

  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

/***** MOBILE *****/

@media (max-width: 500px) {
  .banner-info {
    margin: 0 1rem 1rem 1rem;
  }

  .hero-text .btn {
    padding: 0.5rem;
  }

  .phone-number {
    margin: 1rem 0 0.5rem 0;
  }

  .home {
    padding: 1rem 1rem;
  }

  .hero-text-small {
    padding: 1rem 2rem;
  }

  .services {
    width: 100%;
  }

  .services h2 {
    text-align: center;
  }

  .email {
    display: flex;
    flex-wrap: wrap;
  }

  footer li {
    margin: 1rem 0;
  }
}
